.cartinfo {
  display: flex;
  justify-content: baseline;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: row;
  background-color: #f0f0f0;
  border: 1.5px solid #000;
  border-radius: 15px;
  box-shadow: 4px 8px 4px rgba(0, 0, 0, 0.25);
  padding: 10px;
  max-width: 720px;
  width: 80%;
}

.imgproduct {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.card-img-top {
  max-width: 100%;
  border-radius: 10px;
}

.card-body {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
}

.productCost {
  align-self: flex-end; 
  font-weight: bold;
  font-size: 1.2rem;
  color: #333;
  margin-top: 10px;
}

.hidden {
  display: none;
}

.productImage{
width: 50%;
padding: 3%;
margin-top: 3%;
}


.cart-container {
  display: flex;
  align-items: flex-start; 
  gap: 20px; 
}


.container-Buy{
   margin-top: 4%;
  display: flex;
}
#totalPriceContainer {
  margin-top: 2%;
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  padding: 50%;
  flex-shrink: 0;
  background: #E05C09;
  box-shadow: 4px 8px 4px rgba(0, 0, 0, 0.25);
  margin-left: auto; 
font-family: "Darker Grotesque";
font-size: 100%;
font-style: normal;
font-weight: 600;
line-height: normal;
}

#totalPrice {
  margin-bottom: 10px; 
  font-weight: bold;
  
}

#buttonBuy {
  display: flex;
  margin-top: 10px; 
}

.cart-container {
  display: flex;
  justify-content: space-between; 
  padding: 20px;
  gap: 6%;
}

.cartinfo {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.purchase-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.form-container {
  background-color: #f35c08;
  padding: 20px;
  border-radius: 5px;
  color: white;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#totalPriceContainer {
  background: #E05C09;
  box-shadow: 4px 8px 4px rgba(0, 0, 0, 0.25);
  padding: 20px;
  text-align: center;
  font-weight: bold;
  color: white;
  width: 100%;
}

#buttonBuy {
  margin-top: 10px;
  background-color: #333;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}
