
/*Product List*/

#containerProduct {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: left;
    margin-left: 3%;
  }
  
  .col-md-6 {
    border-radius:7% ;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    justify-content: space-between;
    padding: 2%; 
  }
  
  /*.col-md-6 :hover {  
    position: relative;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 1); 
  }*/
  
  #containerProduct .imgProduct {
    flex: 1 1 45%; 
    max-width: 100%;
    padding: 2%;
    box-sizing: border-box;
    border-top-left-radius: 8%;
    border-top-right-radius: 8%;
    border-left-style:groove;
    border-right-style:groove;
    border-width: thin;
  }
  
  .productData { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-top: 20%;
  }
  
  
  .productName {
    color: #E05C09;
    font-family: Arial, Helvetica, sans-serif;
    font-size:x-large ;
    font-weight: 600;
    padding: 2% 0%;
    
  }
  
  .productDescription {
    color: #2a2929;
    font-family: sans-serif;
    font-size: 75% ;
    font-weight: 400;
    padding: 0% 0% 2% 0%;
  }
  
  .productCost {
    font-size: x-large ;
    font-weight: 500;
    justify-content: center;
    text-align: center;
    background-color: #e05b0995;
    margin:0% 30%;
    border-radius: 15px;
    
  }
  
  .price {
    font-size: small;
  }
  
  .productSoldCount {
    display: flexbox;
    justify-content: row;
    text-align: center;
  }
  
  .productSoldCountItem {
    font-size: small;
  }
  
  /*@media (max-width: 800px) {
    #containerProduct .imgProduct{
      flex: 1 1 100%; 
      max-width: 100%;
    }
  }*/
  
  
  @media (max-width: 568px) {
    .pb-5 {
      background-color: rgba(209, 111, 13, 0.243);
      transition: background-color 0.3s ease;
    }
    .col-md-6 {
      background-color: rgb(202, 183, 183);
    }
   
    #containerProduct .imgProduct{
      flex: 1 1 100%; 
      max-width: 100%;
    }
    
  }
  
  @media (max-width: 768px) and (min-width: 568px) {
    .pb-5 {
      background-color: rgba(189, 205, 192, 0.32);
      transition: background-color 0.3s ease;
    }
    .col-md-6 {
      background-color: rgba(24, 105, 192, 0.243);
      
    }
    
    #containerProduct .imgProduct{
      flex: 100%; 
      max-width: 100%;
    }  
  }
  
  @media (max-width:1366px) and (min-width: 767px) {
    .pb-5 {
      background-color: #2d50dd95;
      transition: background-color 0.3s ease;
    }
    .productName {
      color: rgba(33, 33, 33, 0.939);
    }
    .productCost {
      background-color: rgba(240, 231, 231, 0.568);
    }
  
  }
  
  