.alert {
  display: none; /* Oculto por defecto */
}

.alert.show {
  display: block; /* Mostrar cuando se añada la clase 'show' */
}

.jumbotron,
.card-body,
.container,
.site-header {
  font-family: 'Verdana', serif !important;
}

.jumbotron .display-4 {
  font-weight: bold;
}


nav a{
  margin: 1%;
  text-decoration: none;
  color: black;
  font-weight: bolder;
}

nav a:hover {
  transform: scale(1.05); 
color: orangered;
}


.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.jumbotron {
  height: 50vh;
  padding: 5em inherit;
  margin-bottom: 0;
  background-color: #53C0FB;
  background: url('../img/cover_back.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  font-weight: bold;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead {
  font-size: 38px;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.site-header a {
  color: white;
  transition: ease-in-out color .15s;
}

.site-header .dropdown-menu a {
  color: black;
}

.dropzone {
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: white;
}

.img-fit {
  max-height: 100%;
}

.alert {
  position: fixed;
  top: 80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
}

.cursor-active {
  cursor: pointer;
}

.left {
  float: left;
  padding: 4px;
  background-color: rgba(255, 255, 255, 0.5);
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

#spinner-wrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1021;
  display: none;
}

main {
  min-height: calc(100vh - 210px);
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

.checked {
  color: orange;
}


div > form {
  padding: 50px;
  row-gap: 10px;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.containerProduct {
  text-align: center;
  background-color: azure;
  flex-direction: column;
  display: flex;
 padding: 80px;
  justify-content: space-between;
}

.productList {
  list-style: none;
  box-shadow: 2px 4px 10px 5px rgba(0.1, 0.2, 0.1, 0.2);
  padding-left: 10%;
  padding-bottom: 1%;
  padding-top: 2%;
}

#containerProduct {
  display: block;
  margin: 0 auto;
  padding: 50px;
}

#containerProduct > .imgProduct {
  width: 300px;
  display: block;
  margin: 0 auto;
}

#containerProduct > .dataProduct {
  color: black;
  display: block;
  margin-bottom: 20px;
  text-align: center;
}



.mode{
  margin-right: 3%;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.5s ease;
}


body.active, body.active p,
body.active strong, body.active .card-body, body.active .footer, body.active .card, body.active .productCost, body.active .list-group-item, body.active .col-md-6, body.active .productDescription, body.active .productName{
  background-color: #2A2A2C ;
  color: whitesmoke;
}


.dark-mode{
  width: 70px;
  height: 35px;
  display: flex;
  align-items: center;
  border-radius: 999px;
  background-color: #DFDEDE;
  cursor: pointer;
  transition: background-color 0.5s ease;
}
body.active .dark-mode{
  background-color: white;
}
.dark-mode .circle{
  width: 40%;
  height: 80%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  transform: translateX(10%);
  position: relative;
  overflow: hidden;
  transition: transform 0.5s ease,background-colo 0.5s ease;
}
body.active .circle{
  transform: translateX(140%);
  background-color: #2A2A2C;
}
.dark-mode .circle ion-icon{
  width: 70%;
  height: 70%;
  position: absolute;
  transition: transform 0.5s ease;
}
.dark-mode .circle .moon{
  color: white;
  transform: translateY(-120%);
}
body.active .circle .moon{
  transform: translateX(0);
}
.dark-mode .circle .sun{
  color: #FCDE5B;
}
body.active .circle .sun{
  transform: translateY(120%);
}

#categoriesBody{
  background-color: #E05C09;

}