.alert {
  display: none; /* Oculto por defecto */
}

.alert.show {
  display: block; /* Mostrar cuando se añada la clase 'show' */
}

.jumbotron,
.card-body,
.container,
.site-header {
  font-family: 'Verdana', serif !important;
}

.jumbotron .display-4 {
  font-weight: bold;
}

nav a {
  text-decoration: none;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.jumbotron {
  height: 50vh;
  padding: 5em inherit;
  margin-bottom: 0;
  background-color: #53C0FB;
  background: url('../img/cover_back.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  font-weight: bold;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead {
  font-size: 38px;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.site-header a {
  color: white;
  transition: ease-in-out color .15s;
}

.site-header .dropdown-menu a {
  color: black;
}

.dropzone {
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: white;
}

.img-fit {
  max-height: 100%;
}

.alert {
  position: fixed;
  top: 80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
}

.cursor-active {
  cursor: pointer;
}

.left {
  float: left;
  padding: 4px;
  background-color: rgba(255, 255, 255, 0.5);
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

#spinner-wrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1021;
  display: none;
}

main {
  min-height: calc(100vh - 210px);
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

.checked {
  color: orange;
}


div > form {
  padding: 50px;
  row-gap: 10px;
  background-color: azure;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.containerProduct {
  text-align: center;
  background-color: azure;
  flex-direction: column;
  display: flex;
 padding: 80px;
  justify-content: space-between;
}

.productList {
  list-style: none;
}

#containerProduct {
  display: block;
  margin: 0 auto;
  padding: 50px;
}

#containerProduct > .imgProduct {
  width: 300px;
  display: block;
  margin: 0 auto;
}

#containerProduct > .dataProduct {
  color: black;
  display: block;
  margin-bottom: 20px;
  text-align: center;
}

 /* Estilo para el fondo */
 #fondo-login {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(/img/login/fondo_login.jpg);
  background-size: cover ;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}

/* Contenedor del formulario */
#container-login {
  max-width: 350px;
  position: relative;
  z-index: 1; /* Asegura que el formulario esté sobre el fondo */
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh; /* El formulario se centra verticalmente */
}

/*.e-commerce {
  max-width: 350px;
}*/

/* Estilo del formulario */
#entry-form {
  background-color: rgba(74, 73, 73, 0.509); /* Fondo blanco semitransparente */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2); /* Sombra para hacer que el formulario destaque */
  text-align: center;
}

#cart {
  width: 20%;
  margin: 20px;
}

.textbox input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#btnAccess {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background-color: #ff6600;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

#btnAccess :hover {
  background-color: #e65c00;
}

/*Product List*/

#containerProduct {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: left;
  margin-left: 3%;
}

.col-md-6 {
  border-radius:7% ;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  justify-content: space-between;
  padding: 2%;
  cursor: pointer;
}

/*div.col-md-6, div.mb-4 :hover {  
  position: relative;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 1); 
}*/

#containerProduct .imgProduct {
  flex: 1 1 45%; 
  max-width: 100%;
  padding: 2%;
  box-sizing: border-box;
  border-top-left-radius: 8%;
  border-top-right-radius: 8%;
  border-left-style:groove;
  border-right-style:groove;
  border-width: thin;
}

.productData { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-top: 20%;
}


.productName {
  color: #E05C09;
  font-family: Arial, Helvetica, sans-serif;
  font-size:x-large ;
  font-weight: 600;
  padding: 2% 0%;
  
}

.productDescription {
  color: #2a2929;
  font-family: sans-serif;
  font-size: 75% ;
  font-weight: 400;
  padding: 0% 0% 2% 0%;
}

.productCost {
  font-size: x-large ;
  font-weight: 500;
  justify-content: center;
  text-align: center;
  background-color: #e05b0995;
  margin:0% 30%;
  border-radius: 15px;
  
}

.price {
  font-size: small;
}

.productSoldCount {
  display: flexbox;
  justify-content: row;
  text-align: center;
}

.productSoldCountItem {
  font-size: small;
}

/*@media (max-width: 800px) {
  #containerProduct .imgProduct{
    flex: 1 1 100%; 
    max-width: 100%;
  }
}*/


@media (max-width: 568px) {
  .pb-5 {
    background-color: rgba(209, 111, 13, 0.243);
    transition: background-color 0.3s ease;
  }
  .col-md-6 {
    background-color: rgb(202, 183, 183);
  }
 
  #containerProduct .imgProduct{
    flex: 1 1 100%; 
    max-width: 100%;
  }
}

@media (max-width: 768px) and (min-width: 568px) {
  .pb-5 {
    background-color: rgba(189, 205, 192, 0.32);
    transition: background-color 0.3s ease;
  }
  .col-md-6 {
    background-color: rgba(24, 105, 192, 0.243);
    
  }
  
  #containerProduct .imgProduct{
    flex: 100%; 
    max-width: 100%;
  }  
}

@media (max-width:1366px) and (min-width: 768px) {
  .pb-5 {
    background-color: #2d50dd95;
    transition: background-color 0.3s ease;
  }
  .productName {
    color: rgba(33, 33, 33, 0.939);
  }
  .productCost {
    background-color: rgba(240, 231, 231, 0.568);
  }

}

